@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<!--
<a href="https://gestion-budget-2-sandbox.biapi.pro/2.0/auth/webview/connect?client_id=74832329&redirect_uri=https://localhost:7042/" class="btn btn-primary">Connect</a>
-->



@code {

    private int balance = 0;

    

        [Parameter]
        public string code { get; set; }

        protected override void OnInitialized()
        {
            //if code is not null
            if (code != null)
            {
                //then we can use it
                Console.WriteLine(code);
            }
        }
    
}